{% extends "base.html" %}

{% load static %}

{% block "page-title" %}Home{% endblock  %}

{% block "css-links" %}
<link rel="stylesheet" href="{%static "blogs/index.css"%}">
<link rel="stylesheet" href="{%static "blogs/include/post.css"%}">

{% endblock  %}


{% block "page-contents" %}
    <section id = "welcome">
        <header>
            <img src="{% static "blogs/images/max.png" %}" alt="Subodh - the author">
            <h2>SUBODH BLOG</h2>
        </header>
        <p>Hi i am subodh and i love to blog</p>
    </section>

    <section id="latest-posts">
        <h2>My Leatest Thoughts</h2>
        <ul>
            {% include "blogs/include/post.html" %}
        </ul>

    </section>
    <section id = "about">
        <h2>What I DO</h2>
        <p>I love programming and love to explore new techs</p>
        <P>My goal is to keep growing and developing myself</P>
    </section>
{% endblock  %}