{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block "page-title" %}{% endblock  %}</title>
    <link rel="stylesheet" href="{%static "app.css"%}">
    {% block "css-links" %}{% endblock  %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{% url "index-page"%}">Subodh's Blog</a></h1>
        <nav>
            <a href="#">Saved Posts</a>
            <a href="{% url "post-page" %}">All post</a>
        </nav>
    </header>
    {% block "page-contents" %}{% endblock  %}
</body>
</html>